<div id="{{.Atom.Slug}}" class="container max-w-[900px] mx-auto my-8 px-4
            prose prose-md
            prose-a:border-b-[1px] prose-a:border-white prose-a:font-sans prose-a:text-sm prose-a:no-underline
            hover:prose-a:border-b-0
            prose-p:font-serif
            prose-strong:font-sans prose-strong:text-sm">
    <a href="/atoms/{{.Atom.Slug}}" class="no-underline">
        <h2 class="font-bold text-xs tracking-tighter">
            {{FormatTime .Atom.PublishedAt "2006 / Jan 2 / 15:04 PST"}}</h2>
    </a>

    {{.Atom.DescriptionHTML}}
</div>