<div id="{{.Atom.Slug}}" class="container max-w-[900px] mx-auto my-8 px-4
            prose prose-md
            prose-a:border-b-[1px] prose-a:border-white prose-a:font-sans prose-a:text-sm prose-a:no-underline
            hover:prose-a:border-b-0
            prose-code:text-sm
            prose-p:font-serif
            prose-strong:font-sans prose-strong:text-sm">
    <div class="sm:flex">
        <div class="sm:mr-4">
            <a href="/atoms/{{.Atom.Slug}}" class="no-underline">
                <h2 class="font-bold leading-5 text-xs tracking-tighter">
                    {{FormatTime .Atom.PublishedAt "2006 / Jan 2"}}<br>
                    {{FormatTime .Atom.PublishedAt "15:04 PST"}}
                </h2>
            </a>
        </div>
        <div class="sm:ml-4">
            {{.Atom.DescriptionHTML}}
        </div>
    </div>
</div>