{{.Atom.DescriptionHTML}}

{{- range $i, $photo := .Atom.Photos -}}
<a href="{{printf "/photographs/atoms/%s/%s_large@2x%s" $.Atom.Slug $photo.Slug $photo.TargetExt}}">
    <img loading="lazy" src="{{printf "/photographs/atoms/%s/%s_large%s" $.Atom.Slug $photo.Slug $photo.TargetExt}}"
        srcset="{{printf "/photographs/atoms/%s/%s_large@2x%s" $.Atom.Slug $photo.Slug $photo.TargetExt}} 2x,
                                {{printf "/photographs/atoms/%s/%s_large%s" $.Atom.Slug $photo.Slug $photo.TargetExt}} 1x">
</a>
{{- end -}}

{{- range $i, $video := .Atom.Videos -}}
<video autoplay loop muted playsinline>
    {{range $video.URL -}}
    <source src="/videos/atoms/{{$.Atom.Slug}}/{{URLBaseFile .}}" type="video/{{URLBaseExt .}}">
    {{end}}
</video>
{{- end -}}