{{- template "layouts/atoms.tmpl.html" . -}}

{{- define "atoms_content" -}}

<h1 class="font-normal font-serif my-8 text-center text-6xl tracking-tighter">
    Atoms
</h1>

<div class="container max-w-[600px] mx-auto mb-24 mt-8 px-4
            prose prose-md
            prose-a:border-b-[1px] prose-a:border-white prose-a:font-sans prose-a:text-sm prose-a:no-underline
            hover:prose-a:border-b-0
            prose-p:font-serif
            prose-strong:font-sans prose-strong:text-sm">
    <p>
        Tiny multimedia particles in a similar style to a tweet. Cross-posted to <a href="/atoms.atom">an Atom
            feed</a> and <a href="https://neospring.brandur.org/">Spring '83 board</a>.
    </p>
</div>

{{- range .Atoms -}}

{{- template "views/atoms/_atom.tmpl.html" (Map (MapVal "Atom" .) (MapVal "IsIndex" true)) -}}

<div class="my-16"></div>

{{- end -}}

{{- end -}}