{{- template "layouts/atoms.tmpl.html" . -}}

{{- define "atoms_content" -}}

<div class="mb-12 mt-0 md:mb-24 md:mt-16 px-4">
    <h1 class="text-slate-800 font-normal font-serif my-8 text-center text-8xl tracking-tighter">
        Atoms
    </h1>

    <div class="container max-w-[625px] mx-auto
            prose prose-lg
            prose-a:border-b-[1px] prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200
            prose-p:text-center prose-p:italic
            ">
        <p>
            Multimedia particles in the style of a tweet, also serving as a
            changelog to consolidate changes elsewhere in the site. Cross-posted
            to <a href="/atoms.atom" class="feed_icon">an atom feed</a>. Frequently off topic.
        </p>
        {{- if not .IndexMax -}}
        <p>
            This is an archive page that shows every atom ever published, and
            which will grow to monstrous size. See also <a
            href="/atoms">Atoms</a> which shows only recent posts.
        </p>
        {{- end -}}
    </div>
</div>

{{- range .Atoms -}}

{{- template "views/atoms/_atom.tmpl.html" (Map (MapVal "Atom" .) (MapVal "IsIndex" true)) -}}

<div class="my-8"></div>

<hr class="border-slate-200 mx-auto max-w-5xl">

{{- end -}}

{{- if .IndexMax -}}
<p class="mt-8 mb-16 text-center text-xs">
    <a href="/atoms/archive" class="font-bold">Archive ⭢</a>
</p>
{{- end -}}

{{- end -}}