{{if .TwitterCard}}

<!-- Open Graph and author are used by LinkedIn (and possibly others) -->
<meta name="author" content="Brandur Leach">

<meta property="og:type" content="article">
<meta property="og:title" content="{{.TwitterCard.Title}}">
<meta property="og:description" content="{{.TwitterCard.Description}}">
{{if eq .TwitterCard.ImageURL ""}}
<meta property="og:image" content="{{.AbsoluteURL}}/assets/images/favicon/favicon-256.jpg">
{{else}}
<meta property="og:image" content="{{.AbsoluteURL}}{{.TwitterCard.ImageURL}}">
{{end}}

{{if eq .TwitterCard.ImageURL ""}}
<meta name="twitter:card" content="summary">
{{else}}
<meta name="twitter:card" content="summary_large_image">
{{end -}}

<meta name="twitter:site" content="@brandur">
<meta name="twitter:creator" content="@brandur">
<meta name="twitter:title" content="{{.TwitterCard.Title}}">
<meta name="twitter:description" content="{{.TwitterCard.Description}}">

{{if eq .TwitterCard.ImageURL ""}}
<meta name="twitter:image" content="{{.AbsoluteURL}}/assets/images/favicon/favicon-256.jpg">
{{else}}
<meta name="twitter:image" content="{{.AbsoluteURL}}{{.TwitterCard.ImageURL}}">
{{end}}

{{end}}