{{- template "layouts/atoms.tmpl.html" . -}}

{{- define "title" -}}Home{{.TitleSuffix}}{{- end -}}

{{- define "atoms_content" -}}

<div class="">
    <div class="border-b px-12 py-20 dark:border-slate-700">
        <div class="mx-auto max-w-[750px]
            prose prose-lg dark:prose-invert
            prose-a:border-b prose-a:border-slate-500 prose-a:font-bold prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200
            ">
            <p class="font-medium leading-relaxed text-[1rem]">I'm Brandur. This site is where I publish words and photos. The section updated most often is <a href="/atoms">atoms</a>, short multimedia particles reminiscent of a Twitter feed. I update my <a href="/now">now page</a> monthly according to what I'm working on and thinking about. I <a href="/newsletter">publish a newsletter</a> as often as I can.</p>
        </div>
    </div>

    {{- if .Sequence -}}
    <div class="border-b py-12 dark:border-slate-700 md:py-20">
        <div class="max-w-[1200px] mx-auto">
            <a href="/sequences/{{.Sequence.Slug}}">
                <img src="/photographs/sequences/{{(index .Sequence.Photos 0).Slug}}_large{{(index .Sequence.Photos 0).TargetExt}}" srcset="/photographs/sequences/{{(index .Sequence.Photos 0).Slug}}_large@2x{{(index .Sequence.Photos 0).TargetExt}} 2x, /photographs/sequences/{{(index .Sequence.Photos 0).Slug}}_large{{(index .Sequence.Photos 0).TargetExt}} 1x" class="xl:rounded-lg w-full">
            </a>
        </div>
    </div>
    {{- end -}}

    <div class="py-12 md:py-20">
        <div class="mx-auto max-w-[625px] px-4
            prose prose-lg dark:prose-invert
            prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200
            ">
            <div class="flex flex-col gap-10">
                {{- range .RecentWritings -}}
                <div>
                    <a href="{{.URL}}" class="font-bold text-[1.05rem] !border-b !border-slate-300 hover:!border-slate-500 dark:!border-slate-600 dark:hover:!border-slate-400">{{.Title}}</a>
                    <span class="font-sans italic pl-1 text-[#6b7280] text-[0.7rem] dark:text-[#9ca3af]">{{FormatTimeLocal .PublishedAt}}</span>
                    <div class="font-serif mt-1.5 mb-2 text-[0.95rem]">
                        {{.Hook}}
                        <a href="{{.KindURL}}" class="not-prose inline font-sans rounded-lg border border-slate-300 bg-slate-50 mx-1 px-2.5 py-1.5 text-[0.7rem] font-bold text-slate-500 no-underline transition-colors duration-150 hover:bg-slate-100 dark:border-slate-600 dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700">{{.Kind}}</a>
                    </div>
                </div>
                {{- end -}}
            </div>

            <p class="mt-10 text-center text-[0.95rem] text-slate-400 dark:text-slate-500">These are a short selection of recently posted writing across all categories. See also <a href="/atoms">atoms</a> for a more frequently updated feed.</p>
        </div>
    </div>
</div>

{{- end -}}
