<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{block "title" .}}{{.Title}}{{end}}</title>

    {{Favicon "favicon" "jpg"}}

    <link href="/articles.atom" rel="alternate" title="Articles{{.TitleSuffix}}" type="application/atom+xml">
    <link href="/fragments.atom" rel="alternate" title="Fragments{{.TitleSuffix}}" type="application/atom+xml">
    <link href="/sequences.atom" rel="alternate" title="Sequences{{.TitleSuffix}}" type="application/atom+xml">

    {{- if eq .SorgEnv "development" -}}
    <link href="/assets/{{.Release}}/stylesheets/tailwind.css" media="screen" rel="stylesheet" type="text/css">
    {{- else -}}
    <link href="/assets/{{.Release}}/stylesheets/tailwind.min.css" media="screen" rel="stylesheet" type="text/css">
    {{- end -}}

    {{block "stylesheets" .}}{{end}}

    {{- if eq .SorgEnv "development" -}}
    {{- /* Served by Modulir itself (but only if websockets are enabled). */ -}}
    <script src="/websocket.js" type="text/javascript"></script>
    {{- end -}}

    {{block "javascripts" .}}{{end}}

    {{template "views/_twitter.tmpl.html" .}}
</head>

<body class="{{block "body_style" .}}{{end}}">
    {{block "content" .}}{{end}}

    {{template "views/_analytics.tmpl.html" .}}
</body>

</html>