{{- template "layouts/sequences.tmpl.html" . -}}

{{- define "title" -}}Sequences{{.TitleSuffix}}{{- end -}}

{{- define "sequences_content" -}}

<div class="mb-24 mt-16 px-4">
    <h1 class="font-normal font-serif my-8 text-center text-8xl text-proseLinks tracking-tighter dark:text-proseInvertLinks">
        Sequences
    </h1>

    <div class="container max-w-[625px] mx-auto
            prose prose-lg dark:prose-invert
            prose-a:border-b-[1px] prose-a:border-white prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-b-0
            prose-strong:font-sans prose-strong:text-sm
            prose-p:text-center prose-p:italic
            ">
        <p>
            Sequences is a tiny, self-hosted photography and writing project in the spirit of the independent web. See
            the
            background on the <a href="/sequences-project">Sequences project</a>, and <a
                href="/fragments/sequences-reboot">its reboot</a>.
        </p>
    </div>
</div>

{{- range .Entries -}}

<p class="font-bold my-8 text-center text-proseLinks text-xs tracking-tighter uppercase dark:text-proseInvertLinks">
    <a href="/sequences/{{.Slug}}">{{.Slug}}</a>
</p>

{{- template "views/sequences/_entry.tmpl.html" (Map (MapVal "Entry" .) (MapVal "IsIndex" true)) -}}

<div class="my-24"></div>

{{- end -}}

{{- end -}}