a.feed_icon::after {
    background-image: url('/assets/images/icons/rss.svg');
    background-position: 4px 0;
    background-repeat: no-repeat;
    background-size: 10px 20px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
}

.nav_item:after {
    background: transparent;
    content: '';
    display: block;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    transition: width .3s ease, background-color .3s ease;
    width: 0px;
}

.nav_item:hover:after {
    background: #000;
    width: 80%;
}

.nav_invert .nav_item:hover:after {
    background: #444;
}