a.feed_icon::after {
    background-image: url('/assets/images/icons/rss.svg');
    background-position: 4px 0;
    background-repeat: no-repeat;
    background-size: 10px 20px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
}

.dark a.feed_icon::after {
    filter: invert(100%);
}

.nav_item:after {
    background: transparent;
    content: '';
    display: block;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    transition: width .3s ease, background-color .3s ease;
    width: 0px;
}

.nav_item:hover:after {
    background: #000;
    width: 80%;
}

html.dark .nav_item:hover:after {
    background: #e2e8f0;
}

html.dark img[src$=".svg"], .dark svg {
    filter: invert(80%);
}

.theme_toggle input:checked ~ span {
    opacity: 1;
}

html.dark_override .theme_toggle .track_dot {
    left: 2rem;
}

html.light_override .theme_toggle .track_dot {
    left: 0;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}