{{- template "layouts/pages/main.tmpl.html" . -}}

{{- define "javascripts" -}}
{{- end -}}

{{- define "stylesheets" -}}
{{- template "views/_cardo.tmpl.html" . -}}
{{- template "views/_inter.tmpl.html" . -}}
{{- template "views/_optimize_legibility.tmpl.html" . -}}
{{- end -}}

{{- define "body_style" -}}bg-[#f6f5e9] bg-no-repeat bg-gradient-to-br from-[#f6f5e9] to-[#faf8fa]
min-h-screen{{- end -}}


{{- define "content" -}}
<div>
    {{- template "views/_nav.tmpl.html" . -}}
</div>

<div class="px-2">
    {{block "atoms_content" .}}{{end}}
</div>
{{- end -}}