$sans_serif: helvetica, arial, geneva, sans-serif
$secondary: #cdcdcd

#flexcontainer-fragments-show-mood
  -webkit-flex-direction: column
  flex-direction: column

  .top-nav
    margin-bottom: 40px
    order: 4
    width: auto

    .nav-inner
      max-width: none
      position: initial
      text-align: center
      width: auto

      ul
        li
          float: left
          line-height: 1.8em
          margin: 0 6px

    .nav-extra-content
      display: none

.fragments
  .fragments-content-header
    h1
      border-bottom: 6px solid #000
      font-size: 4rem
      letter-spacing: -4px
      line-height: 1em
      hyphens: auto
      margin-bottom: 50px
      padding-bottom: 50px

  .content
    padding: 10px 0 0 0

    // this is a "highlight" image that may or may not be included with an
    // article
    img#mood
      margin-bottom: 50px
      margin-left: auto
      margin-right: auto
      max-width: 1100px
      width: 100%

      // This counteracts the extra padding we give to fragment content.
      margin-top: -10px

    #content-inner-fragments-show-mood
      margin: 0 auto

      article
        margin: 0 auto

      h1
        text-align: center

    .content-inner-fragments-show
      max-width: 700px

      article
        max-width: 500px

        blockquote
          margin-right: 0
          padding-right: 0

        h2, h3, h4
          margin: 35px 0 -10px 0

        h2
          font-size: 1.3rem

        h3, h4
          font-size: 1rem

        img
          margin-bottom: 40px
          margin-top: 40px

        p
          font-size: 1rem

        pre
          overflow: initial
          white-space: pre-wrap

        strong
          font-size: 0.9rem

        .info
          p
            font-size: 0.85rem

      // Shown in the sidebar except for small screens.
      .publishing-info-bottom
        display: none

  .page-intro
    font-size: 0.85rem

  .fragments-content-list
    font-size: 0.85rem
    line-height: 1.6em

    // A little wider than standard to make way for some columns.
    max-width: 700px

    ul
      li
        margin: 0 0 9px 0

        .meta
          color: $secondary
          font-family: $sans_serif
          font-size: 0.75rem
          font-style: italic

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  .fragments
    .fragments-content-header
      h1
        border-bottom: 5px solid #000
        margin-bottom: 40px
        padding-bottom: 40px

    .content
      img#mood
        margin: 0 0 30px 0
        width: 100%

      .info
        .publishing-info-bottom
          display: initial
