$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

$secondary: #bbb

#flexcontainer-index
  -webkit-justify-content: center
  justify-content: center

  .top-nav
    margin-right: 40px
    margin-top: 160px

.index-about-and-lists, .index-photos-list
  margin: 30px 20px

  h1
    font-size: 4rem
    margin: 30px 0

  h2
    color: $secondary
    font-family: $sans_serif
    font-size: 0.75rem
    font-weight: bold
    margin: 10px 0
    text-transform: uppercase

    a, a:visited, a:hover
      color: $secondary
      text-decoration: none

  li
    margin-bottom: 30px

    a
      color: #000
      font-family: $sans_serif
      font-size: 1.3rem
      font-weight: bold
      line-height: 1.2em
      text-decoration: none

    p
      margin-top: 6px

  .meta
    color: $secondary
    font-family: $sans_serif
    font-size: 0.75rem
    font-style: italic

  .older
    font-size: 0.9rem

.index-about-and-lists
  flex: 3 1
  max-width: 300px

.index-photos-list
  flex: 6 1
  max-width: 510px

  img
    float: left
    margin: 5px
    width: 500px

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  .index-about-and-lists, .index-photos-list
    margin: 0 8%
    width: 84%
    max-width: none

  .index-photos-list
    float: none
    margin: 5px auto

@media only screen and (min-width: 1850px)
  .index-about-and-lists
    max-width: 400px

  .index-photos-list
    max-width: 1020px

@media only screen and (min-width: 2400px)
  .index-about-and-lists
    max-width: 500px

  .index-photos-list
    max-width: 1530px
