body.photos
  background: #000
  color: #fff

  #top-nav-photos
    height: auto
    margin: 40px 33px
    width: auto

    .nav-inner
      max-width: none
      position: initial
      text-align: center
      width: 100%

      ul
        margin: 0 auto

        li
          float: left
          line-height: 1.8em
          margin: 0 6px

          a
            color: #fff

  .content-photos
    margin: 80px auto 30px auto
    // 1500px + margins below
    max-width: 1580px

    .content-photos-inner
      margin: 0 40px

      h1
        color: #fff

      p#outlink
        margin: 40px 0

        a
          border-bottom: 1px solid #fff
          color: #fff

          &:hover
            border-bottom: 0

      div.photo
        max-width: 1500px

        img
          margin: 20px 0
          width: 100%

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  body.photos
    #top-nav-photos
      margin: 20px 13px !important

    .content-photos
      margin: 40px auto 20px auto

      .content-photos-inner
        margin: 0 20px

        p#outlink
          margin: 20px 0

        div.photo
          img
            margin: 10px 0
