$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

body.seq-photo
  background: #000
  color: #fff

  h1
    color: #fff
    font-family: $serif
    font-size: 2.2rem
    letter-spacing: -2px
    margin: 10px 0
    text-align: center

  .seq-flex
    align-items: center
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    justify-content: center
    margin: 0 40px

    .seq-words
      color: #ddd
      font-size: 0.95rem
      line-height: 1.4em
      max-width: 500px
      padding: 80px 30px 40px 30px

      hyphens: auto
      -moz-hyphens: auto
      -webkit-hyphens: auto

      p
        margin: 10px 0

      .seq-divider
        border-bottom: 1px solid #333
        margin: 15px auto
        width: 60%

    .seq-photograph
      max-width: 1500px
      padding: 20px 0

      img
        border: 10px solid #222
        margin: 0
        width: 100%

    .seq-info
      font-family: $sans_serif
      font-size: 0.8rem
      padding: 20px 0

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  body.seq-photo
    h1
      font-size: 1.9rem
      letter-spacing: -2px

    .seq-flex
      .seq-words
        font-size: 0.85rem
        max-width: 375px
        padding: 40px 30px 20px 30px

      .seq-photograph
        padding: 10px 0
