$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

$background: #000
$primary: #fff
$secondary: #ddd
$lowlight: #181818

body.sequences-index
  background: $background

  .sequences-index-words
    background: #fff
    padding: 50px 150px

    .sequences-index-words-inner
      max-width: 550px

      p.atom
        color: #555
        font-family: $sans_serif
        font-size: 0.75rem
        line-height: 1.6em

  .sequences-index-gallery
    padding: 50px 0

    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    flex-direction: row
    -webkit-wrap: wrap
    flex-wrap: wrap
    justify-content: center
    -webkit-justify-content: center

    .sequences-index-photograph
      margin: 20px 40px

      // Grow images according to window size. Looks good, but I like it
      // without a little better.
      //flex-grow: 1

      img
        //border: 5px solid $background
        transition: transform 0.1s
        width: 100%

        &:hover
          //border: 5px solid $lowlight
          border-radius: 10px
          transform: scale(1.05)

body.sequences-photo
  background: $background
  color: $primary

  a
    border-bottom: 1px solid $primary
    color: $primary

    &:hover
      border-bottom: 1px solid $lowlight

    &:visited

  h1
    color: $primary
    font-family: $serif
    font-size: 2.2rem
    letter-spacing: -2px
    margin: 10px 0
    text-align: center

  .sequences-photo-flex
    margin: 70px 50px

    .sequences-photo-words
      color: $secondary
      font-size: 0.95rem
      line-height: 1.55em
      max-width: 500px
      margin: 50px auto

      hyphens: auto
      -moz-hyphens: auto
      -webkit-hyphens: auto

      p
        margin: 15px 0

      .sequences-photo-divider
        border-bottom: 1px solid $lowlight
        margin: 20px auto 40px auto
        width: 60%

      .sequences-photo-sequence
        font-family: $sans_serif
        font-size: 0.65rem
        font-weight: bold
        letter-spacing: normal
        line-height: 1.4em
        margin: 20px 0
        text-align: center
        text-transform: uppercase

        a
          border-bottom: 0

    .sequences-photo-photograph
      img
        //border-radius: 25px
        margin: 0 auto
        max-width: 1600px
        width: 100%

    .sequences-photo-carousel
      margin: 30px auto
      max-width: 700px
      width: 100%

      display: -webkit-flex
      display: flex
      -webkit-align-items: center
      align-items: center
      -webkit-flex-direction: row
      flex-direction: row
      -webkit-justify-content: space-around
      justify-content: space-around

      .sequences-photo-carousel-photograph, .sequences-photo-carousel-photograph-current
        margin: 5px

      .sequences-photo-carousel-photograph
        width: 70px

        img
          transition: transform 0.1s

          &:hover
            border-radius: 5px
            transform: scale(1.1)

      .sequences-photo-carousel-photograph-current
        width: 90px

        img
          border-radius: 5px

    .sequences-photo-info
      color: $secondary
      font-family: $sans_serif
      font-size: 0.75rem
      margin: 30px auto
      text-align: center

      span.slug
        background: $primary
        border-radius: 2px
        color: $background
        margin: 0 3px
        padding: 3px 4px

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  body.sequences-index
    .sequences-index-words
      padding: 30px 60px

      .sequences-index-words-inner
        max-width: none

    .sequences-index-gallery
      padding: 30px 0

      .sequences-index-photograph
        margin: 0 60px
        flex-grow: 1

  body.sequences-photo
    h1
      font-size: 1.9rem
      letter-spacing: -2px

    .sequences-photo-flex
      margin: 50px 50px

      .sequences-photo-words
        font-size: 0.85rem
        max-width: none
        margin: 40px auto

        .sequences-photo-divider
          margin: 15px auto 40px auto

      .sequences-photo-photograph
        //padding: 10px

        img
          //border-radius: 10px

      .sequences-photo-carousel
        margin: 20px auto

      .sequences-photo-info
        margin: 20px auto
