$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

$background: #000
$primary: #fff
$secondary: #ddd
$lowlight: #181818

body.sequences-index
  background: $background

  .sequences-index-description
    background: #fff
    padding: 50px 80px

  .sequences-index-gallery
    padding: 50px 0

    display: -webkit-flex
    display: flex
    -webkit-flex-direction: row
    flex-direction: row
    -webkit-wrap: wrap
    flex-wrap: wrap
    justify-content: center
    -webkit-justify-content: center

    .sequences-index-photo
      margin: 20px 50px

      // Grow images according to window size. Looks good, but I like it
      // without a little better.
      //flex-grow: 1

      img
        transition: transform 0.1s
        width: 100%

      img:hover
        transform: scale(1.05)

body.sequences-photo
  background: $background
  color: $primary

  a
    border-bottom: 1px solid $primary
    color: $primary

    &:hover
      border-bottom: 1px solid $lowlight

    &:visited

  h1
    color: $primary
    font-family: $serif
    font-size: 2.2rem
    letter-spacing: -2px
    margin: 10px 0
    text-align: center

  .sequences-flex
    align-items: center
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    justify-content: center
    margin: 40px 50px

    .sequences-words
      color: $secondary
      font-size: 0.95rem
      line-height: 1.55em
      max-width: 500px
      margin: 40px 30px

      hyphens: auto
      -moz-hyphens: auto
      -webkit-hyphens: auto

      p
        margin: 15px 0

      .sequences-divider
        border-bottom: 1px solid $lowlight
        margin: 15px auto 40px auto
        width: 60%

    .sequences-photograph
      background: $lowlight
      max-width: 1500px
      padding: 15px

      img
        margin: 0
        width: 100%

    .sequences-info
      color: $secondary
      font-family: $sans_serif
      font-size: 0.75rem
      margin: 40px 0

      span.slug
        background: $primary
        border-radius: 2px
        color: $background
        padding: 3px 5px

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)
  body.sequences-photo
    h1
      font-size: 1.9rem
      letter-spacing: -2px

    .sequences-flex
      margin: 20px 30px

      .sequences-words
        font-size: 0.85rem
        max-width: 375px
        margin: 20px 30px

        .sequences-divider
          margin: 15px auto 20px auto

      .sequences-photograph
        padding: 10px

      .sequences-info
        margin: 20px 0
