{{- template "layouts/atoms.tmpl.html" . -}}

{{- define "atoms_content" -}}

<div class="mb-12 mt-0 px-4 md:mb-24 md:mt-16">
    <div class="container max-w-[800px] mx-auto">
        <h1 class="text-slate-800 font-normal font-serif leading-tight my-8 text-center text-5xl tracking-tighter">
            {{.Fragment.Title}}
        </h1>
    </div>

    {{if ne .Fragment.Hook "UNWRITTEN. This should not appear on the front page."}}
    <!-- <div class="container max-w-[625px] mx-auto
                prose prose-md
                prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
                hover:prose-a:border-slate-200
                text-center">
            <p>{{.Fragment.Hook}}</p>
        </div> -->
    {{end}}
</div>

{{if ne .Fragment.Image ""}}
<div>
    <div class="max-w-[1000px] mx-auto my-12 md:my-16">
        <img class="w-full" src="{{.Fragment.Image}}" srcset="{{To2X .Fragment.Image}} 2x, {{.Fragment.Image}} 1x">
    </div>
</div>
{{end}}

<div class="container max-w-[750px] mx-auto mt-8 px-8">
    <div class="md:flex">
        <div class="basis-[115px] flex-grow-0 flex-shrink-0 hidden md:block"> <!-- needed for sticky -->
            <div class="my-1 leading-normal text-xs tracking-tighter sticky text-right top-5">
                <div class="border-b px-4 pb-4">
                    <div class="font-bold mb-0.5">Fragment</div>
                    <div>
                        <a href="/fragments/{{.Fragment.Slug}}">
                            <span class="mx-0.5 opacity-60">🔗</span> {{.Fragment.Title}}
                        </a>
                    </div>
                </div>

                <div class="border-b px-4 py-4">
                    <div class="font-bold mb-0.5">Published</div>
                    <div class="font-normal">{{FormatTime .Fragment.PublishedAt "Jan 2, 2006"}}</div>
                </div>

                <div class="italic px-4 py-4">
                    I'm on X/Twitter at <a href="https://twitter.com/brandur" class="font-bold">@brandur</a>.
                </div>
            </div>
        </div>

        <div class="font-bold my-1 text-sm md:hidden">{{FormatTime .Fragment.PublishedAt "Jan 2, 2006"}}</div>

        <div class="pb-8 md:border-l md:flex-grow md:min-w-0 md:pl-8">
            <div class="hyphens-auto
                max-w-none
                prose prose-md
                prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
                prose-blockquote:font-normal prose-blockquote:text-slate-700
                hover:prose-a:border-b-slate-200
                prose-code:prose-a:text-sm prose-code:prose-p:text-sm
                prose-img:w-full
                prose-h1:font-bold prose-h1:text-base
                prose-h2:text-sm prose-h2:mb-1 prose-a:prose-h2:border-b-0 prose-a:prose-h2:font-bold
                prose-h3:text-xs prose-h3:mb-1 prose-a:prose-h3:border-b-0 prose-a:prose-h3:font-bold
                prose-h4:text-xs prose-h4:mb-1 prose-a:prose-h4:border-b-0 prose-a:prose-h4:font-bold
                prose-hr:my-10 prose-hr:md:-mx-[2rem] prose-hr:md:w-[calc(100%+4rem)]
                prose-p:font-serif
                prose-p:prose-blockquote:font-sans
                prose-pre:leading-[1.1rem] prose-pre:text-[0.8rem]
                prose-strong:font-sans
                prose-ol:font-serif
                prose-ul:font-serif
                ">
                {{.Fragment.Content}}
            </div>
        </div>
    </div>
</div>

{{if .Fragment.Footnotes}}
<div class="border-t p-8 w-vp">
    <div class="container max-w-[550px] mx-auto">
        <div class="hyphens-auto
                max-w-none
                prose prose-sm
                prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
                hover:prose-a:border-b-slate-200
                prose-code:prose-a:text-sm prose-code:prose-p:text-sm
                prose-p:font-serif
                prose-strong:font-sans
                ">
            {{.Fragment.Footnotes}}
        </div>
    </div>
</div>
{{end}}

<div class="border-t pb-20 p-8 w-vp">
    <div class="container max-w-[550px] mx-auto">
        <div class="italic max-w-none
            prose prose-sm
            prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-b-slate-200
            prose-p:font-serif
            ">
            {{if .Fragment.Draft}}
            <p>
                Did I make a mistake? Please consider <a
                    href="https://github.com/brandur/sorg/edit/master/content/fragments-drafts/{{.Fragment.Slug}}.md">sending
                    a pull request</a>.
            </p>
            {{else}}
            <p>
                Did I make a mistake? Please consider <a
                    href="https://github.com/brandur/sorg/edit/master/content/fragments/{{.Fragment.Slug}}.md">sending a
                    pull request</a>.
            </p>
            {{end}}
        </div>
    </div>
</div>

{{- end -}}